.Body{
   background-color: beige;
    margin: 0;
    padding: 0;
    line-height: 2em;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;

}
.topings{
    background-image: url(../images/background.jpg);
    padding: 0px;
    border-block-end: 1px;
    align-items: center;
    top: -0px;
    height: 50px;
}
.select{
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(111, 119, 235);
}
.footer{
    background-image: url(../images/background.jpg);
    position: absolute;
    /*height: 100px;*/
    align-content: center;
    width: 100%;
    bottom:0;

}
ul li {
    list-style: none; 
    display: inline-block; padding: 1em;
}
ul li.media{align-self: center;}
.media{
    display: inline-block;
}
#form{
    margin: 1em;
    padding-block-end: 2px;
    text-align: center;
}
#Ok{
    background-color: springgreen;
    padding: 10px 15px;
    width: 50%;
}
