#7 Day ALC challenge program

Javascript is written in >=ES6
A Github repository for version control.
Host a working version of the application on Github-Pages.
The app make use of
Service Worker
Cache API
IndexedDB
NB:No libraries



powered by the FreecurrencyconverteraPI
API Specifications
Base URL: https://www.currencyconverterapi.com
Documentation: https://www.currencyconverterapi.com/docs


